.tile{
  width: 30%;
  height: 150px;
  font-size: 5rem;
  background: grey;
  border: 8px solid black;
  color: white;
  display: inline-block;
  float: left;
  text-algin: center;
  line-height: 150px;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}
